
.center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.ball {
    width: $ball-size;
    height: $ball-size;
    background: black;
    border-radius: $ball-size * 0.5;
    &:hover {
        transform: scale(1);
    }
    &-min {
        width: $ball-size/2.5;
        height: $ball-size/2.5;
        background: black;
        border-radius: $ball-size/2.5 * 0.5;
        margin: 0.5em;
    }
}
.box {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $dark;
    width: $box-size;
    height: $box-size;
    z-index: 2;
}
.boxMin {
    width: $boxMin-size;
    height: $boxMin-size;
}
.rouge {
    background-color: red;
}
.vert {
    background-color: green;
}
.jaune {
    background-color: yellow;
}
.bleu {
    background-color: blue;
}
.blanc {
    background-color: white;
}
.violet {
    background-color: violet;
}
.z {
    z-index: 0;
}
