.center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.rouge {
    background-color: red;
}
.vert {
    background-color: green;
}
.jaune {
    background-color: yellow;
}
.bleu {
    background-color: blue;
}
.blanc {
    background-color: white;
}
.violet {
    background-color: violet;
}
.z {
    z-index: 0;
}
.able {
    background-color: black;
    transform: scale(1);
    &:hover {
        transform: scale(1.3);
    }
}
.float {
    float: left;
}
.fs-7 {
    font-size: 0.9em;
}
