@font-face {
    font-family: "digital-7";
    src: url(digital-7.ttf);

}
.center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.wpx-50 {
    width: 100px !important;
}
.digital-7 {
    font-family: "digital-7"!important;
}